<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCRIPTO - {{ pageTitle }}</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
<body>
    <header>
        <div>
            &nbsp; myCRIPTO
        </div>
    </header>
    <nav class="container">
        <ul>
            {% if 'index' in pageNow %}
                <li>Inicio</li>
            {% else %}
                <li><a href="/">Inicio</a></li>
            {% endif %}

            {% if 'purchase' in pageNow %}
                <li>Compra</li>
            {% else %}
                <li><a href="/purchase">Compra</a></li>
            {% endif %}

            {% if 'status' in pageNow %}
                <li>Status</li>
            {% else %}
                <li><a href="/status">Status</a></li>
            {% endif %}       
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <footer>     
        &nbsp; &copy; 2022 - VRG, copy-and-paste orientation programming
    </footer>
</body>
</html>