{% extends "base.html" %}

{% block content %}

{% if data|length > 0 %}

        <h1 class="container" align="center">MOVIMIENTOS</h1>

        <table class="container">

            <th>Fecha</th>
            <th>Hora</th>
            <th>Moneda gastada</th>
            <th>Cantidad gastada</th>
            <th>Moneda comprada</th>
            <th>Cantidad comprada</th>
            <th>P.U</th>
        
        {% for movement in data %}
            
            <tr>
                <td>{{ movement.date }}</td>
                <td>{{ movement.time }}</td>
                <td>{{ movement.moneda_from }}</td>
                <td>{{ movement.cantidad_from }}</td>
                <td>{{ movement.moneda_to }}</td>
                <td>{{ movement.cantidad_to }}</td>
                <td>{{ movement.PU }}</td>
            </tr>
        
        {% endfor %}

        </table>

{% else %}
    
    <h1 class="container" align="center">SIN MOVIMIENTOS</h1>

{% endif %}

{% endblock %}