{% extends "base.html" %}

{% block content %}

<h1 class="container" align="center">ESTADO DE LA INVERSIÓN</h1>

    {% if ganancia %}
        {% if ganancia > 0 %} 
            <p class="gana" align="center"> La ganancia es {{ ganancia }} €</p>
        {% elif ganancia < 0 %} 
            <p class="pierde" align="center"> La pérdida es {{ ganancia }} €</p>
        {% endif %}
    {% endif %}

<table class="container">

<tr>
    <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Invertido: {{ euros_inv }}</th>
</tr>
<tr>    
    <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Recuperado: {{ euros_rec }}</th>
</tr>
<tr>   
    <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Valor de compra: {{ valor_compra }}</th>
</tr>
<tr>   
    <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Valor actual: {{ valor_actual }}</th>
</tr>

    
</table>

<form>
<a href="/">
    <input type="button" value="Volver">
</a>
</form>

{% endblock %}